body {
  background-image: url("https://i.postimg.cc/XNdbSVfh/psimon-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px 1280px;
}

.mainBoard {
  margin: 360px auto;
  margin-top: 20px;
  border: 15px black solid;
  border-radius: 620px;
  width: 620px;
  height: 620px;
}


.button {
  width: 300px;
  height: 300px;
  margin: 0;
  border: 5px black solid;
  float: left;
  position: relative;
}

.red {
  background-color: darkred;
  border-radius: 310px 0 0 0;
}

.blue {
  background-color: darkblue;
  border-radius: 0 310px 0 0;
}

.green {
  background-color: darkgreen;
  border-radius: 0 0 0 310px;    
}

.yellow {
  background-color: #f5bd1f;
  border-radius: 0 0 310px 0;
}

.controlBoard {
  height: 250px;
  width: 250px;
  background-color: white;
  border: 20px black solid;
  position: absolute;
  margin-top: 165px;
  margin-left: 165px;
  border-radius: 165px;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  font-weight: bold;
  color: black;
}

.start {
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 97px;
  margin-left: 20px;
  border: 5px black solid;
  line-height: 50px;
  border-radius: 50px;
}

.score {  
  background-color: black;
  color: red;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  margin-left: -81px;
  border: 2px black solid;
  border-radius: 10px;
  font-size: 45px;
  line-height: 47px;
}

.strict {
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0px;
  margin-left: 15px;
  border: 5px black solid;
  line-height: 50px;
  border-radius: 50px;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}


.switch-container {
  margin-top: -77px;
  margin-left: 61px;
}

.outer-switch {
  width: 60px;
  height: 32px;
  background-color: black;
  border: 2px black solid;
  border-radius: 10px;
}

.inner-switch {
  width: 30px;
  height: 30px;
  background-color: green;
  margin: 1px;
  border-radius: 7px;
  position: relative;
}


.gameName {
  font-size: 40px;
  margin-top: 33px;
  margin-left: 46px;
  margin-bottom: -79px;
  font-family: 'Keania One', sans-serif;
  font-weight: bold;
  color: black;
}

.red-on {
  background-color: red !important;
}

.blue-on {
  background-color: #0800ff !important;
}

.green-on {
  background-color: #39ff14 !important;
}

.yellow-on {
  background-color: #FFFF00 !important;
}
