body {
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
}

.mainBoard {
  margin: 0px auto;
  margin-top: 50px;
  border: 15px black solid;
  border-radius: 620px;
  width: 620px;
  height: 620px;
}


.button {
  width: 300px;
  height: 300px;
  margin: 0;
  border: 5px solid black;
  float: left;
}

.red {
  background-color: red;
  border-radius: 310px 0 0 0;
}

.blue {
  background-color: blue;
  border-radius: 0 310px 0 0;
}

.green {
  background-color: green;
  border-radius: 0 0 0 310px;    
}

.yellow {
  background-color: yellow;
  border-radius: 0 0 310px 0;
}

.controlBoard {
  height: 250px;
  width: 250px;
  background-color: white;
  border: 20px black solid;
  position: absolute;
  margin-top: 167px;
  margin-left: 167px;
  border-radius: 167px;
}